:root {
    --side-bar-bg-color: #ffffff;
    --control-text-color: #777;
    --bg-color: #ffffff;
}

html {
    font-size: 20px;
}

body {
    font-family: sans-serif !important;
    color: #0E1419;
    font-size: 3 rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
    background-color: #fff;
}

p {
    font-family: Avenir;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-top: 2rem;
}

.h1,
h1 {
    font-size: 2.5rem
}

.h2,
h2 {
    font-size: 2rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.5rem
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}

body>*:first-child {
    margin-top: 0 !important;
}

body>*:last-child {
    margin-bottom: 0 !important;
}

a {
    color: #027BFF;
    font-weight: 600;
    padding: 0 2px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h2 a,
h3 a {
    color: #34495e;
}

h1 {
    padding-bottom: .4rem;
    font-size: 4rem;
    line-height: 1.3;
    color: #000000;
}

h2 {
    font-size: 3rem;
    line-height: 1.225;
    margin: 35px 0 15px;
    padding-bottom: 0.5em;
    color: #027BFF;
}

h3 {
    font-size: 2rem;
    line-height: 1.43;
    margin: 20px 0 7px;
    color: #444444;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: "Segoe UI", "Arial", sans-serif;
}